@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    background-color: #00000075;
    color: black;
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

header:hover {
    scroll-behavior: smooth;
}

.container {
    width: 1200;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    display: flex;
    flex-basis: 20%;
    max-width: 20%;
    justify-content: center;
}

.logo img {
    max-width: 100%;
    padding: 0px 60px;
}

nav {
    flex-basis: 60%;
    max-width: 60%;
    padding: 10px;
    position: sticky;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {

    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #e7e6e6;
    font-size: 16px;
    padding: 20px;
    transition: .5s;
}

nav ul li a:hover {
    color: #36c5f0;
}

.hire {
    display: flex;
    flex-basis: 20%;
    max-width: 20%;
    padding: 10px;
    justify-content: center;
}

.hire button {
    background-color: #7e2fd5;
    border: none;
    border-radius: 33px;
    font-size: 16pxpx;
    padding: 8px 13px;
    transition: .5s;
}

.hire button a {

    color: white;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 16px;

    padding: 20px;

    transition: 0.5s;
}

.hire button:hover {
    background-color: #d9301ae6;
}

/*
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.welcome{
    width: 100%;
    height: 100vh;
    min-height: 793px;
    background-image: url(https://templatemo.com/templates/templatemo_540_lava_landing_page/assets/images/banner-bg.png);
    background-repeat: no-repeat;
    background-position: right top;

}

.welcome .header-text .left-text {
    position: relative;
    align-self: center;
    margin-top: 30%;
    transform: perspective(1px) translateY(-30%) !important;
}
.welcome .header-text h1{
    font-size: 52;
    font-weight: 900;
    letter-spacing: 1px;
    color: #191a20;
}


.welcome .header-text p{
    font-size: 17px;
    font-weight: 300;
    padding-right: 750px;
    padding-bottom: 20px;
}

.welcome .header-text button{
    border: none;
    background-color: #fba70b;
    border-radius: 35px;
    padding: 15px 25px;
    transition: 0.5s;
    cursor: pointer;
}

.welcome .header-text button a{
    
text-decoration: none;
    
text-transform: uppercase;
    
color: white;
    
font-size: 15px;
    
font-weight: 600;
}

.welcome .header-text button:hover{
    background-color: #fa5b5b;
}
*/
.sec1 {
    width: 100%;
    height: 700px;
    display: flex;
    margin-top: 0px;
    background-color: black;
    background-image: url(https://pixabay.com/get/g202eadd9efe8fb25ed359bfb9728b15f73edf9872eb6d4a877cf67058c0db319c88b3774d05423cc2aeb9e32cd5ca4d72c99d15130598597795128c746dd360303eb2a580eff93722aa93df1e1d45e76_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    display: flex;
    flex-basis: 50%;
    padding: 0px 0px 0px 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    flex-direction: column;
}

.left h1 {

    font-weight: 800;

    color: white;

    font-size: 50px;
}

.left h1 span {
    color: #aa60fb;
    text-transform: uppercase;
}

.left p {
    font-size: 16px;
    padding: 0px 80px 25px 0px;
    color: #e7e7e7;
}

.left button {

    background-color: #7e2fd5;

    border: none;

    padding: 15px 30px;

    border-radius: 35px;

    cursor: pointer;

    transition: 0.5s;
}

.left button:hover {
    background-color: #d9301ae6;
}

.left button a {

    text-decoration: none;

    font-size: 16px;

    text-transform: uppercase;

    font-weight: 600;

    color: white;
}

.right {
    flex-basis: 50%;
}

.right img {
    max-width: 100%;
    width: 100%;
}

.sec3 {
    display: flex;
    padding: 50px 0px;
    background-color: #1b191b;
    justify-content: center;
}

.column1 {
    flex-basis: 50%;
    text-align: right;

}

.pdetails {

    padding: 0px 0px 0px 145px;
}

.pdetails h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

.pdetails h3 {
    font-size: 25px;
    color: #7e2fd5;
}

.pdetails p {
    font-size: 15px;
    padding: 15px 0px;
    color: white;
}

.pdetails button {
    background-color: #7e2fd5;
    border: none;
    border-radius: 33px;
    font-size: 16pxpx;
    padding: 10px 13px;
    transition: .5s;
}

.pdetails button a {

    color: white;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 16px;

    padding: 20px;

    transition: 0.5s;
}

.pdetails button:hover {
    background-color: #d9301ae6;
}

.pimg {
    width: 100%;
    padding-right: 155px;
}

.pimg img {
    max-width: 100%;
    transform: scale(1);
    transition: .5s ease-in-out;
}

.pimg img:hover {
    transform: scale(1.03);
}



.sec2 {
    padding: 50px 0px 50px 0px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-basis: 33.33%;
    text-align: center;
    padding: 15px;
    justify-content: center;
}


.details img {
    max-width: 100%;
    width: 90px;
    padding: 5px 0px;
    border-radius: 15%;
}

.details h1 {
    font-size: 22px;
    font-weight: 600;
    padding-top: 10px;
    color: white;
}

.details p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding: 10px 35px 20px 35px;
    color: white;
}

.details button {
    padding: 10px 8px;
    border: none;
    border-radius: 35px;
    background-color: #7e2fd5;
    cursor: pointer;
    transition: 0.5s;
}

.details button:hover {
    background-color: #ec2b1d;
}

.details button a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    padding: 20px;
}

.box {
    border-radius: 20px;
    padding: 50px 0px;
    background-color: #1b191b;
}

.coming img {
    max-width: 100%;
    width: 70%;
}

.sec4 {
    background-color: #1b191b;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    text-align: center;
}

.sec4 h1 {
    color: white;
    text-transform: capitalize;
    padding: 20px 0px;
    font-weight: 500;
}

.sec4 button {
    background-color: #7e2fd5;
    border: none;
    border-radius: 33px;
    font-size: 18px;
    padding: 8px 13px;
    transition: .5s;
}

.sec4 button a {
    color: white;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 16px;

    padding: 20px;

    transition: 0.5s;
}

.sec4 button:hover {
    background-color: #d9301ae6;
}

.sec5 {
    display: flex;
    padding: 50px 0px;
    text-align: center;
    justify-content: center;
    background-color: black;
}

.foot {
    width: 425px;
    height: auto;
}

.foot h1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
}

.foot p {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

.foot i {
    color: white;
    font-size: 35px;
    display: inline-block;
    padding: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.foot i:hover {
    color: #7e2fd5;
}

hr {
    width: 70%;
    margin: 0 auto;
    opacity: 0.4;
}

footer h3 {
    margin: 0;
    padding: 20px 0px;
    color: #6d7c90;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
